.chat {
  width: 100%;
  /* border: 3px solid green; */
  padding-top:5px;
  min-height: 165px;
  display: flex;

  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 45px;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  
}

.chat-send {
  height: 45px;
  background: rgb(138, 138, 138);
  padding: 7px;
}

.chat-content {
  height: calc(100% - 45px);
  overflow-y: auto;
}

.message-list {
}

.chat-message {
  word-wrap: break-word;
  word-break: break-word;
}

.chat > .inner-shadow-component {
  bottom: 45px;
}
