  
  .icon {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
  z-index:90;
    visibility: hidden;

  }
  
  .newarrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color:#FFCC30;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    z-index:90;
  }
  
  .newarrow::after, .newarrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #FFCC30;
    z-index:90;
  }
  
  .newarrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .newarrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }