.trainerlobby {
  height: 400px;
  display: flex;
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.trainerlobby > .userlist-main {
  /* border: 3px solid red; */

  padding-top: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  overflow-y: auto;
  overflow-x: hidden;
}
